.accordion {
  width: 100vw;
  padding: 1rem 1.5rem;
  position: relative;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  margin: 0.8rem 0rem;
  background-color: black;
  color: white;
  /* box-shadow: 1px 1px 1px 1px white; */
  box-shadow: 4px 0 3px -1px rgba(255, 255, 255, 0.9),
    -4px 0 3px -1px rgba(255, 255, 255, 0.9);
}
.word {
  flex-grow: 1;
}

.delete-icon:active {
  color: red;
}

.fix-top {
  display: block;
  /* position: absolute;
  top: 0.5rem;
  width: 90%; */
}

.lightbox-word {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.lightbox-data {
  flex-grow: 1;
  overflow: scroll;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.close button {
  color: white;
  border: 0.1px solid lightgray;
  background: none;
  padding: 0.2rem 0.5rem;
  margin: 0rem 0.8rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  box-shadow: 4px 0 3px -1px rgba(255, 255, 255, 0.9),
    -4px 0 3px -1px rgba(255, 255, 255, 0.9);
}
