.main-page {
  width: 100vw;
}
.search-form {
  top: 0px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  width: 100vw;
  justify-content: center;
  align-items: baseline;
}

.search-form input {
  font-size: large;
  border-top: none;
  border-right: none;
  border-left: none;
  background: none;
  height: 2rem;
  padding: 0.3rem;
  color: white;
}

.search-form label {
  font-size: 1.8rem;
  padding: 0rem 0.5rem;
}

.search-form button {
  color: white;
  border: 0.1px solid lightgray;
  background: none;
  padding: 0.2rem 0.5rem;
  margin: 0rem 0.8rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  box-shadow: 4px 0 3px -1px rgba(255, 255, 255, 0.9),
    -4px 0 3px -1px rgba(255, 255, 255, 0.9);
}

.sub-heading {
  font-weight: bold;
  font-size: large;
}

/* .card {
  background-color: black;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
} */

.word-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.word-not-found .text {
  font-size: larger;
  font-weight: bold;
}

.word-not-found span {
  font-size: xx-large;
}
