.sub-heading {
  font-weight: bold;
  font-size: large;
}

.card {
  /* border: 1px solid black; */
  background-color: honeydew;
  padding: 1.5rem;
  margin: 0.5rem;
  max-width: 900px;
}

.phonetics {
  /* border: 1px solid blue; */
  background-color: honeydew;

  padding: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.meaning {
  /* border: 1px solid red; */
  background-color: honeydew;

  padding: 1.5rem;
  margin-top: 1rem;
}

.definition {
  /* border: 1px solid green; */
  background-color: honeydew;

  margin-top: 0.5rem;
}
