* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.dictionary-page {
  overflow: scroll;
}

body {
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .pagination {
    font-size: 60%;
    padding: 0.5rem 0rem !important;
  }
}
