* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.App {
  width: 100vw;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: black;
  display: flex;
}

button {
  cursor: pointer;
}
